header{
    width: 100%;
    min-height: 180px;
    position: relative;
    display: block;
}

.backbtn{
    position: absolute;
    margin-top: 20px;
    margin-left: 4%;
    background-color: #787878;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
    z-index: 10;
}

.backbtn:hover{
    background-color: #252525;
    color: #fff;
}

.backbtnwrapper{
    position: relative;
    height: 14px;
}

.backChev{
    float: left;
    display: inline-block;
    padding-top: 1.5px;
}

.backText{
    float: right;
    display: inline-block;
    padding-left: 7px;
    height: 14px;
}

.categoryLabel{
    background-color: #1FC6B2;
}

.categoryFooter{
    background-color: #1FC6B2;
}

.categoryItems{
    text-align: left;
    position: relative;
    display: block;
    margin: 0px auto;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    margin-top: 50px;
}

.catItemDiv{
    max-width: 500px;
    margin: 0px auto;
    display: block;
    position: relative;
    margin-bottom: 40px;
}

.catItemDiv:last-of-type{
    margin-bottom: 80px !important;
}

.catItemDiv h3{
    text-align: left;
    font-family: 'Palatino';
    color: #252525;
    font-size: 21px;
    margin-bottom: 5px;
    line-height: 26px;
}

.catItemDiv p{
    color: #6D6D6D;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 7px;
}

.catItemDiv a{
    font-size: 14px;
    color: #FD5C63;
    font-weight: 700;  
}

/*Background Images*/
.catMeatBg{
    background: url(/imgs/beefbg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.catPastaBg{
    background: url(/imgs/pastabg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.catPoultryBg{
    background: url(/imgs/poultrybg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.startchesBg{
    background: url(/imgs/starchesbg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.veggiesBg{
    background: url(/imgs/veggiesbg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*All Recipes*/
.recipeAllTitleCont{
    max-width: 100%;
    display: block;
}

.recipeAllTitleDiv{
    width: %;
    display: inline-block;
    float: left;
}

.recipeAllTag{
    width: 25%;
    display: inline-block;
    float: left;
    background: red;
    min-height: 40px;
}

.catItemDiv h4{
    font-size: 12px;
    padding-bottom: 5px;
    color: #A56ED6;
}

.Allrediv h3{
    margin-bottom: 0px !important;
}

.allRecipesBg{
    background: url(/imgs/allrecipesbg.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}












